In [53]:
import pandas as pd
import numpy as np
import requests
import time

pd.set_option('max_columns', 100)

In [54]:
url = 'https://api.pushshift.io/reddit/search/submission'

In [55]:
subreddits = ['Tomorrowland', 'PremierLeague']
dfs = []

for subreddit in subreddits:
    for i in range(10):
        # build your params to get the posts
        params = {
            'subreddit': subreddit,
            'size': 100
        }
        # set before if i is not 0
        if i != 0:
            params['before'] = last_time
        # get the response using requests
        res = requests.get(url, params=params)
        # turn the response into JSON
        data = res.json()
        # turn the JSON into a posts dataframe
        posts = pd.DataFrame(data['data'])
        # narrow the df to just be the columns you care about
        posts = posts[['title', 'selftext', 'subreddit', 'created_utc']]
        # set before if i is not 0
        last_time = posts['created_utc'].values[-1]
        # append the dataframe to dfs
        dfs.append(posts)
        time.sleep(3) # slow down three seconds in between each loop
df = pd.concat(dfs)

In [56]:
df.reset_index(inplace=True)  # resetting index so each row has unique index

,title,selftext,subreddit,created_utc
0,Refund question for non SEPA,I'm finally getting my refund for GJ from 2020...,Tomorrowland,1636568321
1,Tomorrowland Winter 2022,I was lucky enough to nab a 1-day festival pas...,Tomorrowland,1636538847
2,First decor for Tomorrowland Winter !,,Tomorrowland,1636481541
3,Tomorrowland Label Night - Wednesday 10th Nove...,[https://www.twitch.tv/tomorrowland/schedule?s...,Tomorrowland,1636445841
4,GJ Package - cannot attend in 2022 anymore,"Girlfriend and I are getting married, and our ...",Tomorrowland,1636399236
...,...,...,...,...
1995,Man Utd v Liverpool Fc,The biggest game in the premier League. \n\n...,PremierLeague,1634893852
1996,r/PremierLeague Daily Discussion,What's on your mind? This is the daily discuss...,PremierLeague,1634875214
1997,English Premier League -- Arsenal VS Aston Vil...,,PremierLeague,1634873646
1998,I Used Numbers To Rank Every Premier League Te...,,PremierLeague,1634870201
1999,I Used Numbers To Rank Every Premier League Te...,,PremierLeague,1634869405

In [59]:
df.drop(columns='index', inplace=True)

In [60]:
df.head()

,title,selftext,subreddit,created_utc
0,Refund question for non SEPA,I'm finally getting my refund for GJ from 2020...,Tomorrowland,1636568321
1,Tomorrowland Winter 2022,I was lucky enough to nab a 1-day festival pas...,Tomorrowland,1636538847
2,First decor for Tomorrowland Winter !,,Tomorrowland,1636481541
3,Tomorrowland Label Night - Wednesday 10th Nove...,[https://www.twitch.tv/tomorrowland/schedule?s...,Tomorrowland,1636445841
4,GJ Package - cannot attend in 2022 anymore,"Girlfriend and I are getting married, and our ...",Tomorrowland,1636399236