In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [6]:
df = pd.read_csv('Data/Prem-Tomorrowland_posts_11-16.csv')
df.head()

,title,selftext,subreddit,created_utc
0,Genreverse,"Hi everyone, \n\nHere at Genreverse our ultima...",Tomorrowland,1637031457
1,Tomorrowland and it's bass line-up,So obviously Tomorrowland has always had a gre...,Tomorrowland,1637002849
2,Hand crafts 2021,NaN,Tomorrowland,1636935255
3,Winter TML lodging,hello! I have the 4 day pass without lodging a...,Tomorrowland,1636922669
4,Was Tomorrowland around the world 2020 a speci...,NaN,Tomorrowland,1636904090

In [8]:
df.shape

(2000, 4)

In [9]:
df.isnull().sum()

title            0
selftext       885
subreddit        0
created_utc      0
dtype: int64

In [14]:
df[(df['selftext'].isnull()) & (df['subreddit'] == 'Tomorrowland')].shape
# almost even split of null values in selftext column between Tomorrowland and Premier League Reddits

(451, 4)

In [15]:
df[df['selftext'] == 'None']

Empty DataFrame
Columns: [title, selftext, subreddit, created_utc]
Index: []

In [19]:
df['selftext'].fillna('None', inplace=True)  # good imputation or no? (almost even split of nulls)

In [25]:
length = []
for i in df['title']:
    length.append(len(i))
    
df['title_length'] = length

In [26]:
num_words = []
for i in df['title']:
    num_words.append(len(i.split()))

df['title_word_count'] = num_words

In [27]:
length = []
for i in df['selftext']:
    length.append(len(i))
    
df['selftext_length'] = length

In [28]:
num_words = []
for i in df['selftext']:
    num_words.append(len(i.split()))

df['selftext_word_count'] = num_words

In [29]:
df.head()

,title,selftext,subreddit,created_utc,title_length,title_word_count,selftext_length,selftext_word_count
0,Genreverse,"Hi everyone, \n\nHere at Genreverse our ultima...",Tomorrowland,1637031457,10,1,398,57
1,Tomorrowland and it's bass line-up,So obviously Tomorrowland has always had a gre...,Tomorrowland,1637002849,34,5,620,104
2,Hand crafts 2021,None,Tomorrowland,1636935255,16,3,4,1
3,Winter TML lodging,hello! I have the 4 day pass without lodging a...,Tomorrowland,1636922669,18,3,334,65
4,Was Tomorrowland around the world 2020 a speci...,None,Tomorrowland,1636904090,60,9,4,1

In [35]:
df.groupby('subreddit').mean()

,created_utc,title_length,title_word_count,selftext_length,selftext_word_count
subreddit,,,,,
PremierLeague,1.636099e+09,61.019,10.807,183.992,28.719
Tomorrowland,1.621520e+09,47.623,8.171,198.603,33.946

**Premier Leauge posts tend to have longer titles and shorter entries than Tomorrowland posts**